body {
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
a:focus{
  text-decoration: none;
  outline: 0px auto -webkit-focus-ring-color !important;
  outline-offset: 0px !important;
}